body {
  font-family: $font-regular;
  direction: ltr;
  color: #000;
  background-image: url('../common/images/body/bg-desktop.png');
  background-position: right 70px;
  background-repeat: no-repeat;
  overflow-x: hidden;
  @include tablet-landscape {
    background-size: 87%;
  }
  @include mobile-landscape {
    background-image: url('../common/images/body/bg-mobile.png');
    background-size: cover;
    overflow-y: auto;
    overflow-x: hidden;
    background-position: right -410px;
  }
}

*:focus {
  outline: none;
}

.button {
  background-color: #0067B9;
  border-radius: 4px;
  padding: 10px 24px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  @include mobile-landscape {
    display: block;
  }
  &:hover {
    text-decoration: none;
    color: #fff;
  }
}

a, .dt-stay-update-form input[type=submit] {
  transition: all 0.5s ease;
  &:hover {
    opacity: .8;
  }
}

input[type=submit] {
  transition: all 0.5s ease;
  &:hover {
    text-decoration: none;
    color: #fff;
    opacity: .8;
  }
}

.link {
  font-family: $font-medium;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  color: #0067B9;
  display: inline-block;
  line-height: 20px;
  cursor: pointer;
  &:before {
    position: static;
    float: right;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    //background: url("../images/svg/arrow-right.svg") no-repeat center;
    /*background: url("../common/images/svg/arrow-right.svg") no-repeat center;
    content: "";*/
    //content: "\e909";
    //color: #0067b9;
  }
  .icon {
    margin-left: 10px;
    //font-size: 12px;
  }
  &:hover {
    text-decoration: none;
    opacity: .7;
  }
}

img {
  max-width: 100%;
}

.dt-secondary-heading, h2 {
  color: #000000;
  font-family: $font-regular;
  font-size: 48px;
  font-weight: 400;
  letter-spacing: -1px;
  line-height: 1;
  @include mobile-landscape {
    font-size: 32px;
  }
}

.dt-third-heading, h3 {
  color: #000000;
  font-family: $font-regular;
  font-weight: normal;
  font-size: 32px;
  line-height: 1;
  @include mobile-landscape {
    font-size: 24px;
  }
}

.dt-fourth-heading, h4 {
  color: #000000;
  font-family: $font-regular;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
}

.dt-fifth-heading, h5 {
  color: #757575;
  font-family: $font-regular;
  font-size: 18px;
  font-weight: 500;
  line-height: 16px;
}

.dt-para, p {
  //font-family: $font-regular;
  color: #000000;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  @include tablet-landscape {
    line-height: 20px;
  }
}

.btn-primary {
  display: inline-block;
  &:hover {
    text-decoration: none;
    opacity: .7
  }
}

.btn-arrow-white {
  position: relative;
  &:after {
    //background: url($base + 'white-arrow-right.svg') 0 0 no-repeat;
    //background: url(../common/images/white-arrow-right.svg) 0 0 no-repeat;
    //content: '';
    //content: "\e909";
    //color: #0067b9;
    display: inline-block;
    width: 18px;
    height: 12px;
    margin-left: 10px;
    margin-bottom: -1px;
  }
  .icon {
    margin-left: 10px;
    margin-bottom: -1px;
  }
}


.btn-box {
  width: 56px;
  height: 56px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  padding: 15px 15px;
  position: relative;
  transition: all 0.5s ease;
  box-sizing: border-box;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
  @include mobile-landscape{
    width: 50px;
    height: 50px;
  }
  &:hover {
    text-decoration: none;
    opacity: .8;
  }
  &.swiper-button-next,
  &.swiper-button-prev {
    background-image: none;
  }

  &.swiper-button-prev {
    transform: scaleX(-1);
    img {
      //transform: translateX(-50%) translateY(-50%) scaleX(-1);
    }
  }

  img, .icon {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }


}

.touch{
  .btn-box:hover {
    opacity: 1;
  }
}

.dt-blue-button {
  background-color: #0067B9;
  border-radius: 4px;
  display: inline-block;
  padding: 10px 24px;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.bordered-heading {
  border-bottom: 1px solid #E1E1E1;
  margin-bottom: 20px;
  h1, h2, h3, h4, h5, h6 {
    display: inline-block
  }
  .link {
    float: right;
  }

  @include mobile-landscape {

    h1, h2, h3, h4, h5, h6 {
      font-size: 20px;
    }
  }
}

.autoplay-stop {
  display: none;
}

.autoplay-true {
  .autoplay-play {
    display: none;
  }
  .autoplay-stop {
    display: inline-block;
  }
}

/* Globals */

@include tablet-minimum {
  .hidden-desktop {
    display: none !important;
  }
}

@include mobile-landscape {

  .dt-heading-small {
    border-bottom: 1px solid #E1E1E1;
    padding-bottom: 16px;
    margin-bottom: 5px;
    font-size: 24px;
  }
  .hidden-phone {
    display: none;
  }
}

