$base: '../images/';

/* Media Queries Variables */
$mobile-portrait-width: 479px;
$mobile-mid-width: 575px;
$mobile-landscape-width: 767px;
$tablet-portrait-width: 768px;
$tablet-medium-width: 991px;
$table-landscape-width: 1024px;
$laptop-small-width: 1199px;
$laptop-medium-width: 1340px;
$laptop-width: 1366px;
/* FONTS SIZES */
$base-header-nav: 1em;
$article-heading: 2.7em;
$sub-article-heading: 1.5em;
$base-para: 1.7em;

/* FONTS FAMILY */
$font-regular: DubaiW23-Regular;
$font-medium: DubaiW23-Medium;
$font-bold: DubaiW23-Bold;
$font-secondary: "Open Sans", sans-serif;
/*$font-os-bold: 'OpenSans-Bold';
$font-os-regular: 'OpenSans-Regular';
$font-os-semi-bold: 'OpenSans-SemiBold';
$font-os-light: 'OpenSans-Light';*/

/* FONTS SIZES */
$base-header-nav: 1em;
$article-heading: 2.7em;
$sub-article-heading: 1.5em;
$base-para: 1.7em;

@mixin mobile-portrait {
  @media (max-width: #{$mobile-portrait-width}) {
    @content;
  }
}

@mixin mobile-mid-portrait {
  @media (max-width: #{$mobile-mid-width}) {
    @content;
  }
}


@mixin mobile-landscape {
  @media (max-width: #{$mobile-landscape-width}) {
    @content;
  }
}

@mixin tablet-portrait {
  @media (max-width: #{$tablet-portrait-width}) {
    @content;
  }
}

@mixin tablet-min-portrait {
  @media (min-width: #{$tablet-portrait-width}) {
    @content;
  }
}

@mixin tablet-medium {
  @media (max-width: #{$tablet-medium-width}) {
    @content;
  }
}

@mixin tablet-landscape {
  @media (max-width: #{$table-landscape-width}) {
    @content;
  }
}
@mixin tablet-minimum {
  @media (min-width: #{$mobile-landscape-width}) {
    @content;
  }
}
@mixin laptop-small {
  @media (max-width: #{$laptop-small-width}) {
    @content;
  }
}

@mixin laptop-medium {
  @media (max-width: #{$laptop-medium-width}) {
    @content;
  }
}

@mixin laptop {
  @media (max-width: #{$laptop-width}) {
    @content;
  }
}


@mixin IEOnly {
  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    @content;
  }
}

