.dt-top-links {
  a {
    color: #505050;
    font-size: 12px;
    font-family: $font-medium;
    display: inline-block;
    text-transform:uppercase;
    margin-right: 20px;
    font-weight: 500;
    &:last-child {
      margin-right: 0;
    }
    &:hover, &.active {
      color: #0067B9;
      text-decoration:none;
    }
  }
}