header.dt-main-header
  .header-top-nav-wrapper.horizontal-separator.horizontal-separator--gap.d-none.d-lg-block
    .container
      .row.d-flex.align-items-center
        .col-md-9
          .dt-top-links
            a(href='javascript:void(0);') Dubai for Tourism
            a(href='javascript:void(0);') Dubai for Business
            a(href='javascript:void(0);') Travel Trade
            a(href='javascript:void(0);') Newsroom
        .col-md-3.d-flex.justify-content-end
          .dt-header-tr-links
            //- a(href='javascript:void(0);')
            //-   span.icon.icon-user
            //-   | Log in
            a(href='javascript:void(0);')
              | AA+
            a(href='javascript:void(0);')
              span.icon.icon-globe
              | English
  .header-bottom-nav-wrapper
    .container
      .row.d-flex.default-gap-tb.align-items-center
        .col-lg-2.col-4.brands-container
          a.brand(href='index.html')
            img.brand(alt="DTCM" title="DTCM" src=`${baseUrl}asset/image/logos/brand.svg`)
          a.brand(href='index.html')
            img.brand(alt="Govt. of Dubai" title="Govt. of Dubai" src=`${baseUrl}asset/image/logos/god.svg`)
        .col-lg-9.col-4.dt-nav-wrapper
          ul.dt-navigation
            li.dt-navigation__list.has-dropdown
              a.dt-nav-link(href='javascript:void(0);')
                | About us
            li.dt-navigation__list.has-dropdown
              a.dt-nav-link(href='javascript:void(0);')
                | Our Services
              include subcategories/content/our-services.pug
            li.dt-navigation__list.has-dropdown
              a.dt-nav-link(href='javascript:void(0);')
                | Tourism Training
            li.dt-navigation__list.has-dropdown
              a.dt-nav-link(href='careers.html')
                | Careers
            li.dt-navigation__list.has-dropdown
              a.dt-nav-link(href='special-newsroom.html')
                | Newsroom
            li.dt-navigation__list
              a.dt-nav-link(href='javascript:void(0);')
                | Contact us
        .col-lg-1.col-4.d-flex.justify-content-end
          .dt-search-box
            a.search-icon.icon-search(href='javascript:void(0);')
          .dt-mobile-hamburger.d-lg-none
            | Hamburger Button
            span


include subcategories/subcategories.pug

