.dt-back-to-top {
  position: absolute;
  right: 10px;
  top: -64px;
  cursor: pointer;
  @include laptop-small {
    //right: 30px;
    //bottom: 30px;
  }

  @include mobile-landscape {
    right: 26px;
  }

  .icon {
    display: inline-block;
    transform-origin: 50% 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(-93deg);
    transform-origin: 50% 50%;
    @include mobile-landscape{
      transform: translateX(-50%) translateY(-50%) rotate(-93deg) scale(.9);
    }
  }
}


