.dt-footer-social {
  margin: 40px 0;
  @include mobile-landscape {
    margin: 25px 0;
  }
  ul {
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      margin-left: 24px;
      &:first-child {
        margin-left: 0;
      }
      @include mobile-landscape {
        width: 19.1%;
        margin: 0;
        a {
          display: block;
          text-align: center;
        }
      }
    }
  }
}