.dropdown-wrraper {
  box-shadow: inset 0 20px 15px -20px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 100%;
  position: absolute;
  left: 0;
  top: 63px;
  display: none;
}
.dropdown-menu {
  display: flex;
  font-size: 16px;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding: 45px 0 10px;
  &__col {
    list-style: none;
    width: 80%;
  }
  &__banner {
    width: 18%;
    margin-left: 2%;
  }
  .link-chevron,
  .dd-link {
    font-family: $font-medium;
    color: #000;
    &:hover {
      color: #0067b9;
      text-decoration: none;
    }
  }
  .dd-para {
    font-family: $font-regular;
    font-size: 16px;
    color: #757575;
  }
}

.nav-grid {
  display: flex;
  flex-wrap: wrap;
  &__list {
    margin: 0 15px 20px;
  }
}

.nav-grid--four {
  .nav-grid__list {
    flex: 0 0 calc(25% - 30px);
    max-width: calc(25% - 30px);
  }
}

.link-chevron {
  position: relative;
  &:after {
    font-family: "icomoon" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 6px;
    content: "\e903";
    color: #000;
    width: 9px;
    height: 6px;
    position: absolute;
    right: -17px;
    top: 50%;
    transform-origin: top;
    transform: rotate(-90deg);
    @include tablet-medium {
      right: 30px;
    }
  }
  &:hover::after {
    color: #0067b9;
  }
}

.dd-img-placeholder {
  border-radius: 5px;
  width: 100%;
  overflow: hidden;
  max-height: 90%;
  margin-bottom: 10px;
  &__img {
    width: 100%;
  }
}
